*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
}
.box{
  border: 3px solid white;
  background-color: rgb(2, 15, 27);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-weight: 1000;
}
.board{
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 6 columnas de igual ancho */
  grid-template-rows: repeat(6, 1fr);    /* 5 filas de igual alto */
  gap: 10px; 
  width: 700px;
  height: 800px;
  background-color: wheat;
  padding: 10px;
}

.present{
  background-color: yellow;
  color: black;
}

.correct{
  background-color: rgb(135, 211, 22);
}

.incorrect{
  background-color: gray;
}
h4{
  color: white;
  font-size: large;
}